.button-main {
    @extend %flexCentered;
    margin-left: auto;
    margin-right: auto;
        
    padding: 10px 32px;
    color: #ffffff;
    background-color: $accent-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms $time-changes;

    &:active {
    background: #188CE8;
    outline: transparent;
    }
}
.button-secondary {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    color: $title-text-color;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition: background-color 250ms $time-changes, color 250ms $time-changes, box-shadow 250ms $time-changes;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: #ffffff;
        outline: transparent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}


