.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/Img.jpg), url(../images/bg/Bg.jpg);

    margin-left: auto;
    margin-right: auto;

    @extend %flexCentered;
    flex-direction: column;

}

.hero__container-title {
    width: 696px;
    height: 120px;
    text-align: center;
}

.hero__title {
    color: $white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    margin-top: 30px;
}